[defaults]
inventory = hosts
stdout_callback=default
stderr_callback=default
result_format=yaml
vault_password_file = .vault_pass
ANSIBLE_GALAXY_TOKEN_PATH = ag_token

[ssh_connection]
control_path = ~/.ssh/ansible-%%r@%%h:%%p
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[paramiko_connection]
record_host_keys = False